@media screen and (min-width: 800px){
	.slideShow {
		background-color: #F5F5F5;
		border: 1px solid #FFFFFF;
		box-shadow: 0 0 22px #111;
		height: 50%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 80%;
		padding:10px;
	}
		
	#carousel .arrow{
		height:86px;
		width:60px;
		position:absolute;
		background:url('../images/arrows.png') no-repeat;
		top:50%;
		margin-top:-43px;
		cursor:pointer;
		z-index:5000;
	}
	
	#carousel .previous:hover {
		background-position: left bottom;
	}
	
	#carousel .previous {
		background-position: left top;
		left: 0;
	}
	
	#carousel .next:hover {
		background-position: right bottom;
	}
	
	#carousel .next {
		background-position: right top;
		right: 0;
	}
}

@media screen and (min-width: 1300px)
{
    .slideShow
    {
        float: left;
        margin-left: 2%;
        width: 60%;
    }
}

#carousel 
{
	margin: auto;
	width: 100%;
	overflow:hidden;
}

#carousel ul 
{
	width: 600%;
	padding: 0;
	margin: 0;
}

#carousel ul li 
{
	display:block;
	float:left;
	width:16.666666666666666666666666666667%;
	text-align: center;
	list-style: none;
	float:	left;
	-moz-transition:all .1s ease 0s;
	-ms-transition:all .1s ease 0s;
	-o-transition:all .1s ease 0s;
	-webkit-transition:all .1s ease 0s;
	transition:all .1s ease 0s;
}