.gallery
{
    width: 96%;
    margin: auto;
}

    .gallery h3
    {
        font-size: 1.25em;
        padding: 10px;
    }

.album
{
    width: 96%;
    margin: 2% 2% 2% 2%;
    float: left;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .album img
    {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

@media screen and (min-width: 384px)
{
    .album
    {
        width: 46%;
    }
}

@media screen and (min-width: 800px)
{
    .album
    {
        box-shadow: 0 0 22px #111;
        width: 29.33333%;
    }
}

@media screen and (min-width: 1300px)
{
    .album
    {
        width: 16%;
    }
}